---
import ImageMod from "@/components/ImageMod.astro";
import Base from "@/layouts/Base.astro";
import { getListPage } from "@/lib/contentParser.astro";
import { supportedLang } from "@/lib/utils/languageParser";
import { markdownify } from "@/lib/utils/textConverter";
import type { ContentEntryMap } from "astro:content";

export function getStaticPaths() {
  const paths = supportedLang.map((lang) => ({
    params: { lang: lang || undefined },
  }));
  return paths;
}

const { lang } = Astro.params;
const shop = await getListPage("shop", lang as keyof ContentEntryMap);

const { Content } = await shop[0].render();
const { title, description, meta_title, image } = shop[0].data;
---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
  image={image}
>
  <section class="section pt-14">
    <div class="container">
      <div class="row items-center justify-between">
        <div id="auction-nudge-7f2433abe"></div>
      </div>
    </div>
  </section>
  <script type="text/javascript" src="https://www.auctionnudge.com/feed/item/js/theme/responsive/page/init/img_size/240/cats_output/dropdown/search_box/1/blank/0/lang/english/SellerID/controlaltrepeat/siteid/3/MaxEntries/20/sortOrder/StartTimeNewest/target/7f2433abe"></script>
</Base>
